*{
  margin: 0px;
  padding: 0px;
}
button{
width:50px;
height:50px;
background:orange;
font-size:25px;
color:white;
border:0px red solid;
border-radius:25px;
}
body{
  
  background-color:rgb(135, 222, 218);
  
}

button:hover{
background:black;
}

.glass{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
padding: 5px;
background: rgba(255, 255, 255, 0.14);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.8px);
-webkit-backdrop-filter: blur(2.8px);

}

.glass2{
  padding: 10px;
  background: rgba(255, 255, 255, 0.14);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.8px);
-webkit-backdrop-filter: blur(2.8px);
}
